
@{
    ViewBag.Title = "Diagnostics";
    Layout = "~/Views/Shared/_AiProjects.cshtml";
}
@*<base href="http://demos.telerik.com/kendo-ui/diagram/index">*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="example">
                <div id="diagram"></div>
                <script>
        var data = [{
            firstName: "Sample",
            lastName: "text",
            image: "antonio.jpg",
            title: "Sample",
            colorScheme: "#1696d3",
            items: [{
                firstName: "Sample",
                image: "elizabeth.jpg",
                lastName: "text",
                title: "Sample",
                colorScheme: "#ef6944",
                items: [{
                    firstName: "Sample",
                    lastName: "text",
                    image: "ann.jpg",
                    title: "Sample",
                    colorScheme: "#ef6944"
                }]
            }, {
                firstName: "Sample",
                lastName: "text",
                image: "diego.jpg",
                title: "Sample",
                colorScheme: "#ee587b",
                items: [{
                    firstName: "Sample",
                    lastName: "text",
                    image: "fran.jpg",
                    title: "Sample",
                    colorScheme: "#ee587b"
                }]
            }, {
                firstName: "Sample",
                lastName: "text",
                image: "felipe.jpg",
                title: "Sample",
                colorScheme: "#75be16",
                items: [{
                    firstName: "Sample",
                    lastName: "text",
                    image: "daniel.jpg",
                    title: "Sample",
                    colorScheme: "#75be16"
                }]
            }]
        }];

        function visualTemplate(options) {
            var dataviz = kendo.dataviz;
            var g = new dataviz.diagram.Group();
            var dataItem = options.dataItem;

            g.append(new dataviz.diagram.Rectangle({
                width: 210,
                height: 75,
                stroke: {
                    width: 0
                },
                fill: {
                    gradient: {
                        type: "linear",
                        stops: [{
                            color: dataItem.colorScheme,
                            offset: 0,
                            opacity: 0.5
                        }, {
                            color: dataItem.colorScheme,
                            offset: 1,
                            opacity: 1
                        }]
                    }
                }
            }));

            g.append(new dataviz.diagram.TextBlock({
                text: dataItem.firstName + " " + dataItem.lastName,
                x: 85,
                y: 20,
                fill: "#fff"
            }));

            g.append(new dataviz.diagram.TextBlock({
                text: dataItem.title,
                x: 85,
                y: 40,
                fill: "#fff"
            }));

            g.append(new dataviz.diagram.Image({
                source: "../content/dataviz/diagram/people/" + dataItem.image,
                x: 3,
                y: 3,
                width: 68,
                height: 68
            }));

            return g;
        }

        function createDiagram() {
            $("#diagram").kendoDiagram({
                dataSource: new kendo.data.HierarchicalDataSource({
                    data: data,
                    schema: {
                        model: {
                            children: "items"
                        }
                    }
                }),
                layout: {
                    type: "layered"
                },
                shapeDefaults: {
                    visual: visualTemplate
                },
                connectionDefaults: {
                    stroke: {
                        color: "#979797",
                        width: 2
                    }
                }
            });

            var diagram = $("#diagram").getKendoDiagram();
            diagram.bringIntoView(diagram.shapes);
        }

        $(document).ready(createDiagram);
                </script>
            </div>
        </div>
    </div>
</div>

